@namespace Hwavmvid.Jsapigeolocation
@inherits ComponentBase
@implements IDisposable
@inject Jsapigeolocationservice Jsapigeolocationservice

@using System.Linq
@using System.Collections.Generic

<!--
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
-->

<div>

    @if (Jsapigeolocationservice.item != null && Jsapigeolocationservice.item.latitude != null && Jsapigeolocationservice.item.longitude != null)
    {
        <div class="lead"><small>latitude: @Jsapigeolocationservice.item.latitude</small></div>
        <div class="lead"><small>longitude: @Jsapigeolocationservice.item.longitude</small></div>
    }
    
</div>

<div id="@geolocationcanvasid"></div>

@code {


    public string permissionstate { get; set; } = string.Empty;
    public string geolocationcanvasid { get; set; } = string.Concat("geolocationcanvasid", "-", Guid.NewGuid().ToString().Replace("-", "_"));

    protected override Task OnInitializedAsync()
    {
        this.Jsapigeolocationservice.OnGeolocationpermisssionsChanged += Geolocationpermissionschanged;
        this.Jsapigeolocationservice.OnUpdateUI += UpdateUI;
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await this.Jsapigeolocationservice.Initgeolocationservice();
            await this.Jsapigeolocationservice.InitGeolocationMap(this.geolocationcanvasid);
            await this.Jsapigeolocationservice.Getgeolocationpermissions();
            await this.Jsapigeolocationservice.Getgeolocation();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public void Geolocationpermissionschanged(Jsapigeolocationpermissionsevent e)
    {
        this.permissionstate = e.Permissionsstate;
    }

    public void UpdateUI()
    {
        InvokeAsync(() =>
        {
            this.StateHasChanged();
        });
    }

    public void Dispose()
    {
        this.Jsapigeolocationservice.OnGeolocationpermisssionsChanged -= Geolocationpermissionschanged;
        this.Jsapigeolocationservice.OnUpdateUI -= UpdateUI;
    }
}
